/* GENERIC STYLING */
* {
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}



/* NAVIGATION BAR STYLING */
nav {
    background-color: lightblue;
    text-align: center;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
}

nav li {
    width: 19%; 
}

a {
    text-decoration: none;
    color: black;
}



/* FOOTER STYLING */
footer {
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer img {
    height: 2em;
}



/* HOME PAGE SPECIFIC STYLING */
.welcome-img {
    display: flex;
    justify-content: center;
}

.welcome-img img {
    width: 100%;
    max-width: 750px;
}



/* BIOGRAPHY SPECIFIC STYLING */
.image-of-me {
    display: flex;
    justify-content: center;
}

.image-of-me img {
    height: 10em;
    border-radius: 3em;
    border: 0.5em solid black;
}


/* RESUME SPECIFIC STYLING */



/* PROJECTS SPECIFIC STYLING */