/* GENERIC STYLING */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    color: #2D2D2D;
    background-color: #FFFFFF;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}



/* NAVIGATION BAR STYLING */
nav {
    background-color: #373737;
    text-align: center;
    padding: 1.5em 0;
}

ul {
    padding: 0;
}

.nav-link {
    display: inline-block;
    width: 19%; 
}

a {
    text-decoration: none;
    color: white;
    padding: 1em 0;
    border: 1px solid #FFFFFF;
    border-radius: 1em;
}

a:hover {
    background-color: #C2A756;
    color: #2D2D2D;
}

@media only screen and (max-width: 600px) {
    .nav-link {
        width: 18%;
        font-size: 75%;
    }
}

@media only screen and (max-width: 400px) {
    .nav-link {
        width: 18%;
        font-size: 60%;
    }
}



/* LINKS SUBMENU STYLING */
.links-submenu {
    padding: 0;
    position: fixed;
    right: 6%;
    top: 5em;
    /* transform: translate(-50%, 0); */
}

.links-submenu-ul {
    display: none;
    margin: 1em; 
}
  
.links-submenu-ul.visible {
     display: flex;
     flex-direction: column;
}

.links-submenu-ul li {
    width: 100%;
}



/* FOOTER STYLING */
footer {
    background-color: #373737;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-text {
    color: #FFFFFF;
}

footer img {
    height: 2em;
}

footer li {
    list-style: none;
}

footer a {
    border: none;
    padding: 1em;
}

@media only screen and (max-width: 400px) {
    .footer-text {
        font-size: 75%;
    }    
}



/* HOME PAGE SPECIFIC STYLING */
.welcome-img-container {
    display: flex;
    justify-content: center;
}

.welcome-img {
    width: 100%;
    max-width: 750px;
    opacity: 0;
}

.first-intro-message {
    opacity: 0;
    margin-top: 2em;
    margin-top: 1em;
}

.second-intro-message {
    opacity: 0;
    margin-top: 2em;
}

.welcome-message-h2 {
    margin-top: 2em;
    margin-bottom: 2em;
    opacity: 0;
}



/* BIOGRAPHY SPECIFIC STYLING */
.image-of-me {
    display: flex;
    justify-content: center;
}

.image-of-me img {
    height: 10em;
    border-radius: 3em;
    border: 0.25em solid #2D2D2D;
    margin: 1em;
}

.biography {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.biography-text {
    text-align: center;
    width: 50%;
    margin: 1em auto;
}

@media only screen and (max-width: 600px) {
    .biography-text {
        width: 75%;
    }
}



/* RESUME SPECIFIC STYLING */
.resume-header {
    background-color: rgb(105, 129, 170);
    color: #FFFFFF;
}

.resume-h1 {
    margin-top: auto;
    padding-top: 1em;
}

.resume-h2 {
    padding-bottom: 1em;
}

.resume-container {
    display: flex;
    overflow-wrap: break-word;
}

.resume-h5 {
    font-size: 1.5em;
}

.left-side-panel {
    width: 25%;
    background-color: lightgray;
    text-align: right;
    padding: 1em;
}

.contact-info {
    text-align: right;
}

.left-side-panel a {
    border: none;
    color: blue;
    text-decoration: underline;
    padding: 0;
}

.skills-li {
    list-style-type: none;
}

.right-side-panel {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: white;
}

.work-experience-box {
    padding: 1em;
}

.job-title, .company-name {
    text-align: left;
}

.job-description-ul {
    margin-left: 4em;
}

.projects-box {
    padding: 1em;
}

@media only screen and (max-width: 700px) {
    .resume-h1 {
        font-size: 1.5em;
    }
    .resume-h2 {
        font-size: 1em;
    }
    .resume-h5 {
        font-size: 0.6em;
    }
    .resume-container p,
    .resume-container li {
        font-size: 0.6em;
    }
    .job-description-ul {
        margin-left: 2em;
    }
}



/* PROJECTS SPECIFIC STYLING */
.project-title {
    margin-top: 3em;
}

.project-link {
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 50%;
    margin: 0 auto;
    border-radius: 4em;
}

.project-image {
    border-radius: 3em;
    border: 0.25em solid #2D2D2D;
    width: 100%;
}

.project-description {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#toh-image {
    width: 100%;
}